/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}
/* concerne les nouveaux boutons projets */
.boutons-filtres {
text-align: center;

}
.btn-tous, .btn-objets, .btn-apparts, .btn-h-et-resto {
	
	font-family: 'Syne';
	font-weight: 700;
	color: #1d6154;
	padding: 5px 10px;	
	margin : 2em auto;
	border: 1px solid #1D6154;
	border-radius: 60px;
	background: none;
}
.btn-tous:hover, .btn-objets:hover, .btn-apparts:hover, .btn-h-et-resto:hover {
	color: #fff;
	background: #1d6154;
}	
.modal {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7 );
}
.modal-wrapper {
	overflow: auto;
	width: 630px;
	height: 688px;
	padding: 40px;
	border-radius: 10px;
	background-color: #fff;
}
.js-modale-close {
position: relative;
left: 98%;
background: none;
border: none;
}
/* Cibler la galerie dans la modale */
.gallery-modale {
    display: grid; /* Utilise une grille pour organiser les miniatures */
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr)); /* Ajuste automatiquement le nombre de colonnes */
    gap: 5px; /* Ajoute un espacement entre les images */
    padding: 5px; /* Ajoute un peu de padding autour de la galerie */
}
/* Styliser chaque figure contenant l'image */
.gallery-modale figure {
    margin: 0;
    padding: 0;
}
/* Ajuster la taille des images pour qu'elles soient des miniatures */
.gallery-modale img {
    width: 77px; /* Largeur des miniatures */
    height: 103px; /* Hauteur des miniatures */
    object-fit: cover; /* Maintient les proportions de l'image en remplissant l'espace */
    cursor: pointer; /* Change le curseur lorsque l'utilisateur survole une image */
}
.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1D6154;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none; /* Retire la décoration par défaut du lien */
    font-weight: bold;
    cursor: pointer;
}

.button-link:hover {
    background-color: #145A3D; /* Changement de couleur au survol */
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
/*Ajout du selecteur login pour unifier la mise en page*/
#contact, #login {
	width: 50%;
	margin: auto;
}
#contact, #login > * {
	text-align: center;

}
#contact h2, #login h2{
	margin-bottom: 20px;
}
#contact form, #login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}
#login form p {
	text-align: center; /*centre le texte sur la page*/
}

#contact input, #login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label, #login label {
	margin: 2em 0 1em 0;
}
#contact textarea, #login textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

